<h1>Welcome to example.com, <%= @request_form.name %></h1>
<p>
  You have successfully signed up to example.com,
  your username is: <%= @request_form.email %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>
