<h1 style="font-family: 'Didot'; font-size: 25px; text-align: center"><%= @request_form.name %>, thank you for your inquiry to Swordfish Cocktails</h1>
<p style="font-family: 'Didot'; font-size: 20px; text-align: center">
  We will be in contact with you briefly about the details of your event<br>
  -- SF
</p>

