//media breakpoints mixin

@mixin bp-large {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 975px) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (min-width: 640px) {
    @content;
  }
}
