.hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background: image-url("Hero.jpg") no-repeat center center scroll;
  background-size: cover
}
.scroller {
  position: relative;
  margin-left: 50%;
  top: 88%;
  width: 15px
}
//overriding bootstrap styles. Might beed to change this
.container-fluid {
  position: absolute;
  top: 100%;
  padding-right: 0px;
  padding-left: 0px
}
//temp fix so that the sides dont blow out
#sketch-text-row {
  margin-left: 0px;
  margin-right: 0px;
}
.row {
  margin-right: 0px;
  margin-left: 0px
}
.barsketch {
  margin: 0 auto;
  padding: 10% 5% 10% 5%
}
.intro-paragraph {
  text-align: left;
  padding: 20% 0% 15% 20%;
  line-height: 30px;
  font-size: 20px;
  font-family: $main-font;
  @include bp-large{
    padding: 10%;
  }
}
.callout {
  display: table;
  width: 100%;
  height: 600px;
  background: image-url("cocktail-1.jpg") no-repeat center center scroll;
  background-size: cover;
}
.cocktail-top-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: $large-font-size;
  font-family: $main-font;
  color: white;
}

.break-text{
  font-size: 25px;
}

.separator {
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.col-md-4 {
  padding: 5%;
  @include bp-small {
    padding: 8%
  }
  p {
    font-size: $main-font-size;
    font-family: $main-font;
    line-height: 25px;
  }
}
.services-overview {
  position: relative;
}
.right p {
  padding-top: 10px;
}
.middle p {
  padding-top: 6px;
}
.left:before {
  content: image-url("alcohol16.png");
  display: block;
  padding-bottom: 10%;
  text-align: center;
}
.middle:before {
  content: image-url("bar21.png");
  display: block;
  padding-bottom: 10%;
  text-align: center;
}
.right:before {
  display: block;
  vertical-align: middle;
  position: relative;
  content: image-url("alcohol40.png");
  display: block;
  padding-bottom: 10%;
  text-align: center;
}
.work-info {
  position: relative;
}

.old-fashioned-image {
  float: right;
}

.no-padding {
  padding-right: 15px;
  margin-bottom: -15px;
}

.pull-right {
  padding-left: 15px;
}

.menu-image{
  float: left;
}

.work-text {
  text-align: center;
  font-style: bold;
  font-family: $main-font;
  font-size: $large-font-size;
}

.strainer-image {
  margin-top: 75px;
  display: table;
  width: 100%;
  height: 600px;
  background: image-url("cocktail-3.jpg") no-repeat center center scroll;
  background-size: cover;
}

.form-call-out-text{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#booking-text {
  text-align: center;
  vertical-align: middle;
  font-size: $large-font-size;
  font-family: $main-font;
  color: white;
}

.form-button {
  display: block;
  margin: 0 auto;
  height: 10%;
  width: 275px;
  border: 1px solid white;
  border-radius: 1px;
  background-color: transparent;
  color: white;
  font-family: $main-font;
  font-size: 30px;
  padding-top: 4px;
  transition: .5s;
  outline: none;
  &:hover {
    background-color: white;
    color: black;
    transition: .5s;
  }
  @include bp-small {
    font-size: 20px;
    width: 200px;
  }
}

//all footer text sections
.footer {
  height: 450px;
  width: 100%;
  background-color: #191919;
  .event-text {
    padding-top: 20px;
    font-family: $main-font;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    color: white;
      @include bp-small {
        font-size: 20px;
      }
  }
  .company-text {
    text-align: center;
    font-family: $main-font;
    color: white;
    margin-top: 0px;
    font-size: 40px;
    padding: 75px 10px 0px 10px;
      @include bp-small {
        font-size: 25px;
      }
  }
  .email {
    padding-top: 20px;
    font-family: $main-font;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    color: white;
  }
  .instagram {
    display: block;
    margin: 0 auto;
    transition: .5s;
    &:hover {
      opacity: .7;
      transition: .5s;
    }
  }
}

//form stylings

#form{
  background-color: black;
  width: 100%;
  height: 1650px;
  padding-top: 50px;
  h1 {
    text-align: center;
    font-family: $main-font;
    font-size: $large-font-size;
    color: white;
    font-style: italic;
  }
  h2 {
    text-align: center;
    font-family: $main-font;
    font-size: 20px;
    color: white;
    font-style: bold;
  }
}

#request_name {
  border-radius: 0px;
  border-color: white;
  background-color: transparent;
  font-family: $main-font;
  color: white;
  height: 60px;
  font-size: 20px;
}

#request_email {
  border-radius: 0px;
  border-color: white;
  background-color: transparent;
  font-family: $main-font;
  color: white;
  height: 60px;
  font-size: 20px;
}

#request_phone_number {
  border-radius: 0px;
  border-color: white;
  background-color: transparent;
  font-family: $main-font;
  color: white;
  height: 60px;
  font-size: 20px;
}

#request_city_state {
  border-radius: 0px;
  border-color: white;
  background-color: transparent;
  font-family: $main-font;
  color: white;
  height: 60px;
  font-size: 20px;
}

#request_event_date {
  border-radius: 0px;
  border-color: white;
  background-color: transparent;
  font-family: $main-font;
  color: white;
  height: 60px;
  font-size: 20px;
}

#request_no_of_guests {
  border-radius: 0px;
  border-color: white;
  background-color: transparent;
  font-family: $main-font;
  color: white;
  height: 60px;
  font-size: 20px;
  text-align: center;
  transition: .5s;
  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: .5s;
  }
  option {
    text-align: center;
  }
}


#request_no_of_drinks {
  border-radius: 0px;
  border-color: white;
  background-color: transparent;
  font-family: $main-font;
  color: white;
  height: 60px;
  font-size: 20px;
  text-align: center;
  transition: .5s;
  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: .5s;
  }
}

#request_over_21 {
  display:inline-block;
  height: 15px;
  width: 85%;
  border-radius: 0px;
  border-color: white;
  &:after {
    content: 'Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor.';
    position: relative;
    padding-right: 5%;
    left: 30px;
    color: white;
    font-family: $main-font;
    font-size: 16px;
  }
}



#request_terms_and_agreement {
  margin-top: 30px;
  height: 15px;
  width: 85%;
  border-radius: 0px;
  border-color: white;
  &:after {
    content: 'Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim.';
    position: relative;
    left: 30px;
    padding-right: 5%;
    color: white;
    font-family: $main-font;
    font-size: 16px;
  }
}

hr {
  width: 60%;
}

#form-info-text {
  padding-top: 15px;
}

.form-padding {
  padding: 3% 5% 0% 5%;
}

.form-submit{
  border-radius: 0px;
  border-color: white;
  background-color: transparent;
  font-family: $main-font;
  color: white;
  height: 60px;
  font-size: 20px;
  text-align: center;
  transition: .5s;
  width: 300px;
  margin: 0 auto;
  display: block;
  margin-top: 110px;
  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: .5s;
  }
}
