$main-font: 'Didot';
$main-font-bold: 'Didot-Bold';

.hero{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: image-url("Hero.jpg");
  background-size: cover;
  @include bp-small{
    background-position: 84% 100%;
  }
}

.scroller{
  position: relative;
  margin-left: 50%;
  top: 88%;
  width: 15px;
}

.container-fluid{
  position: absolute;
  top: 100%;
}
.col-sm-12 {
  width: 50%;
  height: 100%;
    @include bp-medium{
      width: 100%;
    }
    .intro-paragraph {
      text-align: left;
      line-height: 25px;
    @include bp-medium {
      padding: 10%;
    }
    @include bp-small{
      padding: 0;
      font-size: 16px;
      padding: 10%;
      line-height: 30px;
    }
  }
}

.col-md-4{
  padding: 8%;
  font-family: $main-font-bold;
  font-size: 16px;
  p {
    margin: 5px;
  }
}

.left:before{
  display: block;
  text-align: center;
  padding-bottom: 5%;
  content: image-url("alcohol16.png");
}
.middle:before{
  display: block;
  text-align: center;
  padding-bottom: 5%;
  content: image-url("bar21.png");
}
.right:before{
  display: block;
  text-align: center;
  padding-bottom: 5%;
  content: image-url("alcohol40.png");
}

.barsketch {
  margin: 0 auto;
  margin-top: 22%;
  @include bp-small{
    margin-top: -5%;
    padding: 10%;
  }
}

.cocktail-middle {
  background-image: image-url("cocktail-1.jpg");
  background-position: 35% 100%;
  min-height: 500px;
  max-width: 100%;
  h2 {
    font-family: $main-font;
    font-size: 50px;
    text-align: center;
    color: white;
    position: relative;
    top: 150px
  }
  .content-show:after{
      display: block;
      //content: image-url("seperator-1.png");
  }
}
.content-clear {
}

