.hero {
  position: absolute;
  width: 100%;
  height: 100%;
  background: image-url("Hero.jpg") no-repeat center center scroll;
  background-size: cover;
}

.scroller{
  position: relative;
  margin-left: 50%;
  top: 88%;
  width: 15px;
}

//overriding bootstrap styles. Might beed to change this
.container-fluid{
  position: absolute;
  top: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.sketch-text-row{
  padding: 6%;
}

.barsketch {
  margin: 0 auto;
  padding: 10% 5% 10% 5%;
}

.intro-paragraph {
  text-align: left;
  padding: 15%;
  line-height: 25px;
  font-size: $main-font-size;
}

.callout {
  display: table;
  width: 100%;
  height: 600px;
  background: image-url("cocktail-1.jpg") no-repeat center center scroll;
  background-size: cover;
}

.cocktail-top-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: $large-font-size;
  color: white;
}

.cocktail-top-text {
  display: table-cell;
  text-align: center;
  font-size: $large-font-size;
  color: white;
}

.col-md-4{
  padding: 5%;
  @include bp-small {
    padding: 8%;
  }
  p {
    font-size: $main-font-size;
    line-height: 25px;
  }
}

.services-overview{
  position: relative;
}

.right p {
  padding-top: 10px;
}

.middle p {
  padding-top: 6px;
}

.left:before{
  content: image-url("alcohol16.png");
  display: block;
  padding-bottom: 10%;
  text-align:center;
}

.middle:before{
  content: image-url("bar21.png");
  display: block;
  padding-bottom: 10%;
  text-align:center;
}

.right:before{
  content: image-url("alcohol40.png");
  display: block;
  padding-bottom: 10%;
  text-align:center;
}

.work-info {
  width: 100%;
  height: 500px;
  position: relative;
  .old-fashioned-image {

  }
}

.work-text {
  text-align: center;
}


