body {
  background-color: #D3D3D3;
}

//video-action
#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    opacity: .2;
}

.container-full {
  padding-left: 0px;
  padding-right: 0px;
}

.margin-fix {
  margin-left: 0px;
  margin-right: 0px;
}

#header-text {
  padding-top: 150px;
  line-height: 70px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  font-family: 'Didot';
  font-size: 48px;
  color: #333743;
}

#video-action {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  font-family: 'AvenirNextCondensed-Regular';
  font-size: 30px;
  color: #000000;
  margin-bottom: 190px;
}

.old-fashioned {
  box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.50);
}

.margin-bottom {
  margin-bottom: 20px;
  @include bp-small {
    margin-bottom: 200px;
  }
}

.vertical-align {
  padding-top: 75px;
}

.content-text {
  font-family: 'AvenirNextCondensed-Regular';
  font-size: 18px;
  color: #333743;
  margin-top: 20px;
  p {
    margin-bottom: 45px;
  }
  @include bp-small {
    margin-top: 0px;
  }
}

.couch-bg {
  margin-top: 125px;
  height: 675px;
  background: image-url('couch.jpg') no-repeat center center;
  background-size: cover;
}

.event-text {
  margin-top: 60px;
  text-align: center;
  font-family: 'AvenirNextCondensed-Regular';
  font-size: 30px;
  color: #FFFFFF;
}

.button-text {
  text-align: center;
  font-family: 'AvenirNextCondensed-Regular';
  font-size: 30px;
  color: #FFFFFF;
  transition: 0.5s;
  &:hover {
    color: black;
    transition: 0.5s;
    cursor: pointer;
  }
}

#event-button {
  margin: 0 auto;
  margin-top: 45px;
  height: 50px;
  width: 200px;
  border: 3px solid #FFFFFF;
  &:hover {
    background: white;
    transition: 0.5s;
  }
}

//all footer text sections
.footer {
  height: 425px;
  width: 100%;
  background-color: #191919;
  .event-text {
    padding-top: 20px;
    font-family: $main-font;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    color: white;
      @include bp-small {
        font-size: 20px;
      }
  }
  .company-text {
    text-align: center;
    font-family: $main-font;
    color: white;
    margin-top: 0px;
    font-size: 40px;
    padding: 75px 10px 0px 10px;
      @include bp-small {
        font-size: 25px;
      }
  }
  .email {
    padding-top: 20px;
    font-family: $main-font;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    color: white;
  }
  .instagram {
    display: block;
    margin: 0 auto;
    transition: .5s;
    &:hover {
      opacity: .7;
      transition: .5s;
    }
  }
}
