<div class="hero">
  <%= image_tag("scroller.svg", :class => "scroller") %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <p class="intro-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed ligula vel enim condimentum laoreet. Nunc ante nunc, maximus vel efficitur ut, volutpat vitae ex. Nullam suscipit ligula in diam pulvinar ultrices. In varius sollicitudin dolor nec congue. Quisque imperdiet id lorem et molestie. Fusce aliquam tempus massa in ullamcorper. Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit. Duis eu dignissim risus. In hac habitasse platea dictumst. Proin et magna id leo condimentum sodales.</p>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag("barsketch.png", :class => "img-responsive barsketch") %>
    </div>
  </div>
  <div class="row">
    <div class="cocktail-middle">
      <h2 class="content-show">Custom catered menus</h2>
      <h2 class="content-clear">for your event</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 left"><p>Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit. Duis eu dignissim risus. In hac habitasse platea dictumst. Proin et magna id leo condimentum sodales.</p></div>
    <div class="col-md-4 middle"><p>Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit. Duis eu dignissim risus. In hac habitasse platea dictumst. Proin et magna id leo condimentum sodales.</p></div>
    <div class="col-md-4 right"><p>Donec orci odio, pulvinar ac pellentesque nec, ultricies eu dolor. Aliquam varius auctor facilisis. Mauris elementum dolor ac elit fermentum scelerisque. Maecenas sed molestie enim. Duis eget cursus ex. Duis semper, dui vel tempus facilisis, eros sapien ullamcorper magna, eu mattis ante massa vitae elit. Duis eu dignissim risus. In hac habitasse platea dictumst. Proin et magna id leo condimentum sodales.</p></div>
  </div>
</div>




