#using same db for prod and dev.
default: &default
  adapter: postgresql
  pool: 5
  timeout: 5000
  database: swordfish
  username: yoderblake
  password: 1048892

development:
  <<: *default


production:
  <<: *default
